.container
{
    background: rgb(63,94,251);
background: linear-gradient(90deg, rgba(63,94,251,0.9293912394662921) 0%, rgba(252,70,107,1) 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 493px;
    width: 1000px;
    display: flex;
    padding: 59px;
    flex-direction: row;
    margin-top:34px ;
    margin-left:82px ;
    align-items: center;
}
.box
{
    background-color: white;
    height: 493px;
    width: 100%;
    box-shadow: 0 0 35px;
}
#box1
{
    background-image: url(./Image/pexels-andrea-piacquadio-3774903.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 20PX;
    border-top-left-radius: 20PX;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#box2
{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
h1
{
    font-size: 80px;
    margin-left: 40px;
}
h2
{
    font-size: 80px;
    margin-left: 40px;
    margin-top: -80px;
}
input
{
    border: none;
    border-bottom: 1px solid black;
    margin-left: 20px;
    height: 30px;
    width: 300px;
}