.outer
{
    background: #ee9ca7; 
    background: -webkit-linear-gradient(to bottom, #ffdde1, #ee9ca7); 
    background: linear-gradient(to bottom, #ffdde1, #ee9ca7);
    height: 725px;
    width: 900px;
    margin: 30px 50px 50px 230px;
    border: 1px solid;
}
.inner
{
    background: #8360c3; 
    background: -webkit-linear-gradient(to bottom, #2ebf91, #8360c3); 
    background: linear-gradient(to bottom, #2ebf91, #8360c3); 
    height: 620px;
    width: 420px;
    margin-left: 253px;
    margin-top: 50px;
    border: 1px solid red;
    box-shadow: 0 0 25px;
    border-radius: 5%;
}
label
{
    margin-left: 20px;
}
input
{
    margin-left: 20px;
    height: 30px;
    border-radius: 5px;
}